
.blog-section{
    width: 100%;
}
.blog-section .section-content{
    width: 85%;
    margin: 20px auto;
}
.blog-section .section-content .title{
    width: 60%;
    margin: auto;
    text-align: center;
}
.blog-section .section-content .title h2{
    font-size: 40px;
    color: #25c5c5;
    text-transform: uppercase;
}
.blog-section .section-content .title p{
    font-size: 18px;
    color: rgb(33, 54, 38);
    margin-top: 20px;
}
.blog-section .section-content .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin: 25px auto;
}

.blog-section .section-content .cards .card{
  width: 100%;
  background-color: #f7f7f7;
  position: relative;
}

.blog-section .section-content .cards .card img{ 
    width: 100%;
    height: auto;
  }

  .blog-section .section-content .cards .card .article{
    padding: 15px 20px;
  }

  .blog-section .section-content .cards .card .article h4{
    font-size: 24px;
    color: #4a4a4a;
  }
  .blog-section .section-content .cards .card .article p{
    font-size: 16px;
    margin: 10px 0px;
    color: #6a6a6a;
  }

  .blog-section .section-content .cards .card .article p{
    font-size: 16px;
    margin: 10px 0px;
    color: #6a6a6a;
  }

  .blog-section .section-content .cards .card a{
    text-decoration: none;
    display: inline-block;
    background-color: #25c5c5;
    padding: 8px 15px;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 20px;
  }

  .blog-section .section-content .cards .card .posted-date p{
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #25c5c5;
    padding: 6px 15px;
  }
  @media screen and (max-width:992px) {
    .blog-section .section-content .cards{
       
        grid-template-columns: repeat(2,1fr);
    
    }
    
  }

  @media screen and (max-width:768px) {
    .blog-section .section-content .cards{
       
        grid-template-columns: 1fr;
    
    }
    
  }
  .cards .card {
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.cards .card:hover {
    transform: scale(1.05);
}

.cards .card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}



.cards .card a {
    text-decoration: none;
    display: inline-block;
    background-color: #25c5c5;
    padding: 8px 15px;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.cards .card a:hover {
    background-color: #2eabab;
}


.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #25c5c5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.image-selection img {
  /* Set the maximum width and height for the image */
  max-width: 100%;
  max-height: 180px; /* Adjust the height as needed */

  /* Add styles to maintain aspect ratio and center the image */
  object-fit: cover;
  object-position: center;
}